.overlay__modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
    padding: 50px;
    display: none;
}
.overlay__modal--visible{
    display: block;
}
.overlay span{
    font-size: 1rem;
    float: right;
    display: none;
    cursor: pointer;
    padding: 0 10px;
}
.overlay{
    float: right;
}